@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anuphan:wght@100..700&display=swap');

body {
    margin: 0;
    font-family: 'Anuphan';
}

.container-login {
    width: 100vw;
    height: 100vh;
    display: flex;
}

.login-left {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: white;
}

.logo {
    width: 150px;
    height: auto;
    align-self: center;
    margin-bottom: 30px;
}

.login-right {
    width: 50%;
    height: 100%;
    background: url('../assets/bookresize.png');
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 25px 0 0 25px;
}

.form-box-login {
    display: flex;
    width: fit-content;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.form-box-login h1 {
    margin-bottom: 0;
    font-weight: 600;
}

.form-box-login h2 {
    margin-top: 0;
    font-weight: 500;
}

.login-email,
.login-password {
    display: flex;
    flex-direction: column;
    width: 100%;
}

#email,
#password {
    width: calc(100% - 10px);
    height: 40px;
    border: 1px solid #D9D9D9;
    border-radius: 10px;
    background-color: white;
    padding: 0 0 0 10px;
}


.login-btn {
    margin-top: 30px;
    height: 40px;
    width: 100%;
    align-self: center;
    color: white;
    background: #915ED3;
    border-radius: 10px;
    transition: .2s;
    border: none;
    color: black;
    font-size: 15px;
    color: aliceblue;
}

.login-btn:hover {
    background: #6a449b;

}

.login-left a {
    text-decoration: none;
    color: blue;
}

.seepass {
    display: flex;
    align-items: center;
    gap: 20px;
}

ion-icon {
    font-size: 21px;
}

/* Phones - ตั้ง */
@media (max-width: 767px) {
    .container-login {
        flex-direction: column-reverse;
        overflow: auto;
    }

    .login-left {
        width: 100%;
        height: 100%;
        background-color: white;
        border-radius: 15px 15px 0 0;
    }

    .login-right {
        display: none;
    }

    .form-box-login {
        width: 90%;
        justify-content: center;
        align-items: center;
        height: 80%;
    }

    .form-box-login h1 {
        font-size: 20px;
        margin-bottom: 20px;
    }

    .form-box-login h2 {
        font-size: 12px;
    }

    .logo {
        margin-bottom: 10px;
        width: 120px;
    }

    #email,
    #password {
        height: 30px;
    }
}

/* Phones - แนวนอน (Landscape) */
@media screen and (max-width: 932px)and (max-height : 431px) and (orientation: landscape) {
    .container-login {
        flex-direction: column-reverse;
        overflow: auto;
    }
    
    .logo{
        display: none;
    }
    .login-left {
        width: 100%;
        height: 100%;
        background-color: white;
        border-radius: 15px 15px 0 0;
    }

    .login-right {
        display: none;
    }

    .form-box-login {
        width: 70%;
        justify-content: center;
        align-items: center;
        height: 80%;
    }
    .login-email , .login-left{
        margin-bottom: 10px;
    }
    .form-box-login h1 {
        font-size: 20px;
        margin-bottom: 20px;
    }

    .form-box-login h2 {
        font-size: 12px;
    }


    #email,
    #password {
        height: 30px;
    }
    .form-box-login h1{
        margin: 0;
        font-size: 20px;
    }

    .login-btn{
        width: 50%;
        height: 40px;
    }

    .form-box-login p{
        margin: 0 0 10px 0;
    }
}


/* iPad - แนวตั้ง */
@media (min-width: 768px) and (max-width: 1279px) and (orientation: portrait) {
    .login-left{
        width: 60%;
    }
    .login-right{
        width: 40%;
        background-position: center center;
    }   
    .form-box-login h1{
        font-size: 29px;
    }

    .form-box-login h2{
        font-size: 16px;
    }
}

/* iPad - แนวนอน */
@media (min-width: 768px) and (max-width: 1367px) and (orientation: landscape) {
    .form-box-login h1{
        font-size: 29px;
    }

    .form-box-login h2{
        font-size: 18px;
    }
}